html {
  min-height: 100%;
  /* background: radial-gradient(at top left, #a67ddb 0%, #5e23ad 100%); */
  background: #9862df;
}

a {
  text-decoration: none;
  color: white;
}

.links {
  border: 3px white;
}
